SERVER.PORT=""

DATABASE.HOST=""
DATABASE.PORT=""
DATABASE.NAME=""
DATABASE.USER=""
DATABASE.PASSWORD=""
DATABASE.SSLMODE=""
DATABASE.TIMEZONE=""

REDIS.HOST=""
REDIS.PORT=""
REDIS.PASSWORD=""
REDIS.DB=""

NSQ.HOST=""
NSQ.PORT=""
NSQ.TOPIC=""
NSQ.CHANNEL=""

GCP.CREDENTIAL=""
GCP.PROJECT_ID=""
GCP.BUCKET_NAME=""
GCP.PRODUCT_STORAGE_PATH=""

